In [13]:
install.packages("lme4")
install.packages("optimization")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [14]:
library(lme4)
library(optimization)

In [17]:
# Wczytanie danych genetycznych
oceny <- read.table("oceny.csv", header = TRUE, sep = ';')
summary(oceny)

     nr.os          nr.oj          nr.ma           rok            ferma
 Min.   :3303   Min.   :  27   Min.   :   3   Min.   :88.00   Min.   :1.000
 1st Qu.:4188   1st Qu.:2117   1st Qu.:1246   1st Qu.:89.00   1st Qu.:2.000
 Median :4992   Median :3099   Median :2742   Median :89.00   Median :3.000
 Mean   :4976   Mean   :2929   Mean   :2708   Mean   :89.53   Mean   :2.555
 3rd Qu.:5789   3rd Qu.:4025   3rd Qu.:3970   3rd Qu.:90.00   3rd Qu.:3.000
 Max.   :6664   Max.   :6368   Max.   :6369   Max.   :93.00   Max.   :3.000
      liur           liod           c1.BS.          c2.CT.          c3.CP.
 Min.   :0.00   Min.   :0.000   Min.   :2.000   Min.   :1.000   Min.   :1.000
 1st Qu.:4.00   1st Qu.:4.000   1st Qu.:4.000   1st Qu.:2.000   1st Qu.:3.000
 Median :5.00   Median :5.000   Median :4.000   Median :3.000   Median :3.000
 Mean   :5.32   Mean   :4.691   Mean   :4.416   Mean   :2.567   Mean   :2.848
 3rd Qu.:6.00   3rd Qu.:6.000   3rd Qu.:6.000   3rd Qu.:3.000   3rd Qu.:3.000
 Max.   :9.00   Max.   :9.000   Max.   :6.000   Max.   :6.000   Max.   :6.000
     c4.CD.         c5.HL.          c6.PS.          c7.GA.           LOP
 Min.   :1.00   Min.   :3.000   Min.   :2.000   Min.   :1.000   Min.   :20.00
 1st Qu.:3.00   1st Qu.:5.000   1st Qu.:5.000   1st Qu.:2.000   1st Qu.:25.00
 Median :3.00   Median :6.000   Median :6.000   Median :3.000   Median :27.00
 Mean   :2.83   Mean   :5.555   Mean   :5.471   Mean   :2.674   Mean   :26.36
 3rd Qu.:3.00   3rd Qu.:6.000   3rd Qu.:6.000   3rd Qu.:3.000   3rd Qu.:27.00
 Max.   :6.00   Max.   :6.000   Max.   :9.000   Max.   :9.000   Max.   :30.00

In [18]:
head(oceny)

  nr.os nr.oj nr.ma rok ferma liur liod c1.BS. c2.CT. c3.CP. c4.CD. c5.HL.
1 3303   363  613   88  3     4    4    4      3      3      3      6
2 3307  2985  600   88  3     6    6    4      3      3      3      6
3 3308  2985  600   88  3     6    6    4      3      3      3      5
4 3309  2985  600   88  3     6    6    4      3      3      3      6
5 3310  2985  600   88  3     6    6    4      3      3      3      6
6 3311  2985  600   88  3     6    6    6      3      3      2      6
  c6.PS. c7.GA. LOP
1 6      2      27
2 6      2      27
3 6      2      26
4 6      3      28
5 5      3      27
6 6      2      28

In [ ]:
summary(oceny)

     nr.os          nr.oj          nr.ma           rok            ferma
 Min.   :3303   Min.   :  27   Min.   :   3   Min.   :88.00   Min.   :1.000
 1st Qu.:4188   1st Qu.:2117   1st Qu.:1246   1st Qu.:89.00   1st Qu.:2.000
 Median :4992   Median :3099   Median :2742   Median :89.00   Median :3.000
 Mean   :4976   Mean   :2929   Mean   :2708   Mean   :89.53   Mean   :2.555
 3rd Qu.:5789   3rd Qu.:4025   3rd Qu.:3970   3rd Qu.:90.00   3rd Qu.:3.000
 Max.   :6664   Max.   :6368   Max.   :6369   Max.   :93.00   Max.   :3.000
      liur           liod           c1.BS.          c2.CT.          c3.CP.
 Min.   :0.00   Min.   :0.000   Min.   :2.000   Min.   :1.000   Min.   :1.000
 1st Qu.:4.00   1st Qu.:4.000   1st Qu.:4.000   1st Qu.:2.000   1st Qu.:3.000
 Median :5.00   Median :5.000   Median :4.000   Median :3.000   Median :3.000
 Mean   :5.32   Mean   :4.691   Mean   :4.416   Mean   :2.567   Mean   :2.848
 3rd Qu.:6.00   3rd Qu.:6.000   3rd Qu.:6.000   3rd Qu.:3.000   3rd Qu.:3.000
 Max.   :9.00   Max.   :9.000   Max.   :6.000   Max.   :6.000   Max.   :6.000
     c4.CD.         c5.HL.          c6.PS.          c7.GA.           LOP
 Min.   :1.00   Min.   :3.000   Min.   :2.000   Min.   :1.000   Min.   :20.00
 1st Qu.:3.00   1st Qu.:5.000   1st Qu.:5.000   1st Qu.:2.000   1st Qu.:25.00
 Median :3.00   Median :6.000   Median :6.000   Median :3.000   Median :27.00
 Mean   :2.83   Mean   :5.555   Mean   :5.471   Mean   :2.674   Mean   :26.36
 3rd Qu.:3.00   3rd Qu.:6.000   3rd Qu.:6.000   3rd Qu.:3.000   3rd Qu.:27.00
 Max.   :6.00   Max.   :6.000   Max.   :9.000   Max.   :9.000   Max.   :30.00

In [54]:
var(oceny$LOP)

[1] 2.648745

In [70]:
lmm_LOP1 <- lmer( LOP ~ nr.oj + (1|ferma),REML = FALSE,data = oceny)
summary(lmm.LOP1)

Warning message:
“Some predictor variables are on very different scales: consider rescaling”

Linear mixed model fit by maximum likelihood  ['lmerMod']
Formula: LOP ~ nr.oj + (1 | ferma)
   Data: oceny

     AIC      BIC   logLik deviance df.resid
 10386.3  10410.3  -5189.2  10378.3     2952

Scaled residuals:
    Min      1Q  Median      3Q     Max
-4.2488 -0.6572  0.0497  0.7178  2.7299

Random effects:
 Groups   Name        Variance Std.Dev.
 ferma    (Intercept) 1.020    1.010
 Residual             1.949    1.396
Number of obs: 2956, groups:  ferma, 3

Fixed effects:
              Estimate Std. Error t value
(Intercept)  2.671e+01  5.871e-01  45.505
nr.oj       -2.764e-05  1.649e-05  -1.676

Correlation of Fixed Effects:
      (Intr)
nr.oj -0.084
fit warnings:
Some predictor variables are on very different scales: consider rescaling

In [72]:
ferma_lmm_LOP1 <- 1.020
residual_lmm_LOP1 <- 1.949

In [71]:
anova(lmm_LOP1)

      npar Sum Sq   Mean Sq  F value
nr.oj 1    5.471483 5.471483 2.807626

In [73]:
# Obliczanie wariancji genetycznej błędu
var_ge <- ferma_lmm_LOP1
var_ge

[1] 1.02

In [74]:
# Obliczanie wariancji fenotypowej błędu
var_fe <- var_ge + residual_lmm_LOP1
var_fe

[1] 2.969

In [75]:
# Obliczanie odziedziczalności 
h2 <- var_ge/var_fe
h2

[1] 0.34355

In [52]:
lmm.LOP2 <- lmer( LOP ~ nr.oj + nr.os + (1|ferma) + (1|rok),REML = FALSE,data = oceny)
summary(lmm.LOP2)

Warning message:
“Some predictor variables are on very different scales: consider rescaling”

Linear mixed model fit by maximum likelihood  ['lmerMod']
Formula: LOP ~ nr.oj + nr.os + (1 | ferma) + (1 | rok)
   Data: oceny

     AIC      BIC   logLik deviance df.resid
 10285.8  10321.7  -5136.9  10273.8     2950

Scaled residuals:
    Min      1Q  Median      3Q     Max
-4.3593 -0.6547  0.0473  0.6860  3.1250

Random effects:
 Groups   Name        Variance Std.Dev.
 rok      (Intercept) 0.4089   0.6394
 ferma    (Intercept) 1.1514   1.0730
 Residual             1.8671   1.3664
Number of obs: 2956, groups:  rok, 6; ferma, 3

Fixed effects:
              Estimate Std. Error t value
(Intercept)  2.367e+01  1.025e+00  23.080
nr.oj       -1.082e-05  1.989e-05  -0.544
nr.os        5.412e-04  1.405e-04   3.852

Correlation of Fixed Effects:
      (Intr) nr.oj
nr.oj  0.079
nr.os -0.750 -0.194
fit warnings:
Some predictor variables are on very different scales: consider rescaling